.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: aquamarine;
}

p:before {
    content: attr(type);  /*al elemento p habilite el contenido del atributo type*/
    display: block; /*el bloque no comparte con el nombre:*/
    font-size: 20px;
    color: rgb(9, 22, 197);
    margin-top: 45px; /*espacio entre nombre,apellido,etc*/
}

input {
    width: 270px;
    border: none;
    border-bottom: 2px solid rgb(91, 5, 126);
    background: none;
    color: rgb(2, 7, 70);
}

input:focus {
    outline: none; /*no se enmarca*/
    border-bottom: 3px solid rgb(223, 220, 82);
}

.formulario {
    background-color: rgb(23, 212, 218);
    border-radius: 10px;
    padding: 30px 40px; /*30 se aplica arriba y abajo y 40 dere,izq*/
    box-shadow: 20px 20px rgb(4, 41, 121);
}

button {
    background: rosybrown;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(4, 41, 121);
    margin-top: 20px;
}

.centrar-boton {
    display: flex;
    justify-content: center;
}

h2, header {
    color: blueviolet;
    border-bottom: 2px solid rgb(69, 6, 128) ;
    font-size: 35px;
}

footer {
    color: white;
}

.msg_error {
    background: rgb(161, 20, 20);
    border-left: 5px solid red;
    padding: 10px;
    color: #f3e9e9;
    display: none;
    font-weight: bold;  /*es como darle negrilla*/
}

.error_asterisco {
    color: red;
    font-weight: bold;
    font-size: 18px;
}